/*general*/

body,
html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Roboto';
    font-size: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    z-index: 1;
    position: relative;
}

.wrapper::after {
    content: '';
    display: block;
    height: 105px;
    overflow: hidden;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 80px 190px 50px;
    background: #fff;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
}

/*header*/
.header {
    width: 100vw;
    height: 56vw;
    background: url('img/bg.png') center bottom no-repeat;
    background-size: cover;
    position: relative;
}

.header_top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #FFC400;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.logo {
    display: inline-block;
    text-decoration: none;
    background: url('img/logo.svg') center bottom no-repeat;
    width: 290px;
    height: 90px;
    background-size: contain;
}

.nav {
    height: 120px;
    width: 1280px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav_item {
    text-decoration: none;
    font-size: 30px;
    color: #000;
}

.nav_item:hover {
    text-decoration: underline;
}

/*order*/
.order {
    padding: 40px 0 130px;
}

.order h3 {
    text-align: center;
    font-weight: 300;
}

.order_form {
    width: 1220px;
    margin: 40px auto 0;
    padding: 40px 50px;
    border-radius: 10px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order_wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.order_item {
    width: 500px;
}

.order_item label {
    display: block;
    padding-left: 30px;
    font-size: 26px;
    margin-bottom: 10px;
}

input[type=text],
input[type=tel],
input[type=email] {
    width: 100%;
    height: 60px;
    padding-left: 30px;
    border-radius: 30px;
    background: #EEEEEE;
    border: 0;
    font-size: 26px;
    margin-bottom: 30px;
    outline: 0;
}

textarea {
    width: 100%;
    padding: 20px 5px 20px 30px;
    border-radius: 30px;
    background: #EEEEEE;
    border: 0;
    font-size: 26px;
    margin-bottom: 30px;
    outline: 0;
    resize: none;
}

.submit {
    width: 410px;
    height: 60px;
    background: #FFDB66;
    border: 0;
    font-size: 26px;
    border-radius: 30px;
    margin-top: 8px;
    cursor: pointer;
    transition: 300ms;
    outline: 0;
    text-align: center;
    line-height: 60px;
}
.submit:hover {
    color: #fff;
    background: #FFC400;
}
select {
    width: 100%;
    height: 60px;
    border-radius: 30px;
    background: #EEEEEE;
    border: 0;
    font-size: 26px;
    margin-bottom: 30px;
    outline: 0;
    background-image: url('img/arrow.svg');
    background-position: center right 30px;
    background-repeat: no-repeat;
    -moz-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    padding: 4px 20px
}

.order_item .label_inline {
    display: inline;
    padding-left: 20px;
}

.order_item .my_label {
    display: inline-block;
    position: relative;
    padding-left: 0;
    user-select: none;   
}

.my_label span {
    padding-left: 20px;
}

.my_label input::before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    position: absolute;
    left: 0;
    bottom: 3px;
    background: url('img/check.svg') center bottom no-repeat;
    transition: .3s;
}

input:checked::before {
    background: url('img/checked.svg') center bottom no-repeat;
}
.total {
    text-align: center;
    text-decoration: underline;
}
.order_result {
    display: none;
}
.order_result.active {
    display: block;
    width: 500px;
    margin: 50px auto 50px;
    border: 1px solid #FFC400;
    padding: 20px;
}
.order_result * {
    margin-bottom: 10px;
}
/*footer*/
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 105px;
    margin-top: -105px;
    background: #FFDB66;
    bottom: 0;
    left: 0;
}