/*fonts*/

@font-face {
    font-family: 'Comic Sans MS';
    src: url('fonts/ComicSansMS.eot');
    src: url('fonts/ComicSansMS.eot?#iefix') format('embedded-opentype'),
        url('fonts/ComicSansMS.woff2') format('woff2'),
        url('fonts/ComicSansMS.woff') format('woff'),
        url('fonts/ComicSansMS.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/*general*/

body,
html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Roboto';
    font-size: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    overflow: hidden;
    background: #78CCFB;
    padding: 100px 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 80px 190px 50px;
    background: #fff;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
}

/*info head*/

.info_head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
}

.info_head img {
    border-radius: 50%;
    width: 200px;
}

.info_head_text {
    margin-left: 50px;
}

.info_head_text a {
    color: #000;
}
.info_head_text p:nth-child(2) {
    margin: 12px 0;
}

/*purpose*/
.title {
    text-transform: uppercase;
    font-size: 26px;
    line-height: 30px;
    position: relative;
    text-align: center;
    margin-bottom: 40px;
}

.title::after {
    content: '';
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    width: 50px;
    height: 2px;
    background: #000;
}

/*top*/

.top {
    width: 750px;
    height: 200px;
    margin: 90px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.top h3 {
    text-align: center;
    margin-bottom: 15px;
}

.top h3 span {
    color: #00A424;
}

.top_cities {
    height: auto;
    max-height: 60px;
    overflow: hidden;
    width: 350px;
    background: linear-gradient(180deg, #FFFFFF 0%, #FDFFA4 100%);
    border: 1px solid #000000;
    border-radius: 15px;
    padding: 16px 20px 30px 60px;
    transition: 300ms;
    cursor: pointer;
}
.top_cities.active {
    max-height: 350px;
}

.top_cities li {
    list-style: square;
}

.top_cities a {
    text-decoration: none;
    color: #000;
}

.top_dishes {
    background: linear-gradient(360deg, #C7FFBE 0%, rgba(199, 255, 190, 0) 100%);
    border: 1px solid #000000;
    border-radius: 15px;
    height: auto;
    max-height: 60px;
    overflow: hidden;
    width: 350px;
    transition: 300ms;
    cursor: pointer;
    padding: 16px 20px 20px 60px;
}
.top_dishes.active {
    max-height: 350px;
}
/*dates*/

table {
    width: 100%;
    border-spacing: 0;
    border: 1px solid #000;
    margin-bottom: 110px;
}
thead {
    background: #83DAFF;
    
}
thead tr th {
    border-bottom: 1px solid #000;
}
th {
    height: 60px;
}
tbody {
    background: #C7F5FF;
}
tbody tr {
    height: 60px;
}
tbody tr:nth-child(even) {
    background: #A1EEFF;
}
tbody td {
    text-align: center;
}
tbody td:nth-child(1) {
    text-align: left;
    padding-left: 20px;
}
.date {
    display: flex;
    justify-content: space-between;
    margin-bottom: 180px;
    font-family: 'Comic Sans MS';
}
.social {
    width: 117px;
    height: 27px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.social_item {
    display: inline-block;
    width: 27px;
    height: 27px;
    text-decoration: none;
}
.tg {
    background: url("img/tg.svg") center no-repeat;
}
.in {
    background: url("img/in.svg") center no-repeat;
}
.fb {
    background: url("img/fb.svg") center no-repeat;
}