* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: normal;
    /* border: 1px solid #000; */
}

:root {
    --cv-background-color: #78CCFB;
    font-size: 16px;
}

body {
    background-color: var(--cv-background-color);
    font-family: Roboto, Arial, Helvetica, sans-serif;
}


.page {
    width: 1200px;
    height: 1700px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
    background-color: #fff;
    margin: 100px auto;
    padding: 80px 190px;
    font-size: 1.25rem;
}

.logo {
    height: 200px;
    border-radius: 50vh;
}

.logo2 {
    height: 200px;
}

.js-intro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-info {
    margin-left: 50px;
}

.main-info p {
    padding: 6px 0;
}

.main-info .name {
    font-size: 1.625rem;
    text-transform: uppercase;
}

#features {
    margin-top: 50px;
}

#secrete {
    /* border: 1px solid #78CCFB; */
}